/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

select {
  appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
  font-family: "Roboto", sans-serif;
  position: relative;
}

.main-header {
  height: 10rem;
  background-color: #1f203a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__logo {
  height: 6.4rem;
  width: 6.4rem;
}

.burger-menu {
  display: inherit;
  gap: 0.5rem;
  flex-direction: column;
  height: 2.4rem;
  width: 2.4rem;
  cursor: pointer;
}
.burger-menu:hover .burger-menu__item {
  background-color: #ffa54d;
}

.burger-menu__item {
  height: 2.4rem;
  width: 3rem;
  background-color: #fceb21;
}

.main-content {
  height: calc(100vh - 19.8rem);
  background-color: #292d33;
}

.gallery-section {
  height: inherit;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.arrow {
  position: absolute;
  font-size: 6rem;
  cursor: pointer;
}

.arrow--next {
  right: 0;
}

.arrow--back {
  left: 0;
}

.main-footer {
  background-color: #333333;
  height: 9.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-footer__lbl {
  font-size: 1.5rem;
}

.main-footer__link:hover {
  text-decoration: underline;
}

.main-footer__lbl,
.main-footer__link {
  color: #FFF;
}

.swiper-slide {
  cursor: pointer;
  height: 33.4rem;
  display: flex;
  align-items: center;
}

.swiper-slide img {
  height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  color: #1f203a;
}

.carousel {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.carousel div {
  min-width: 51.2rem;
}

@media (max-width: 1400px) {
  .carousel {
    width: 102.4rem;
  }
  .carousel div {
    min-width: 51.2rem;
  }
}
@media (max-width: 1150px) {
  .carousel {
    width: 76rem;
  }
  .carousel div {
    min-width: 38rem;
  }
}
@media (max-width: 900px) {
  .carousel {
    width: 38rem;
  }
  .carousel div {
    min-width: 38rem;
  }
}
.modal {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.785);
  z-index: 555;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__button-close {
  background-color: transparent;
  position: inherit;
  top: 8rem;
  right: 4rem;
  color: #FFF;
  font-size: 4rem;
  cursor: pointer;
}

.modal img {
  width: 51.2rem;
  height: 33.4rem;
}

.container {
  padding: 0 8rem;
}

/*# sourceMappingURL=main.css.map */
