.main-header {
  height: 10rem;
  background-color: $blue-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__logo {
  height: 6.4rem;
  width: 6.4rem;
}

.burger-menu {
  display: inherit;
  gap: 0.5rem;
  flex-direction: column;
  height: 2.4rem;
  width: 2.4rem;
  cursor: pointer;

  &:hover .burger-menu__item {
    background-color: $orange-normal;
  }
}

.burger-menu__item {
  height: 2.4rem;
  width: 3rem;
  background-color: $yellow-normal;
}
