.main-content {
  height: calc(100vh - 19.8rem);
  background-color: $gray-dark;
}

.gallery-section {
  height: inherit;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.arrow {
  position: absolute;
  font-size: 6rem;
  cursor: pointer;
}

.arrow--next {
  right: 0;
}

.arrow--back {
  left: 0;
}
