.swiper-slide {
  cursor: pointer;
  height: 33.4rem;
  display: flex;
  align-items: center;
}

.swiper-slide img {
  height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  color: $blue-dark;
}
