.main-header {
  height: 11.2rem;
}

.main-navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $secondary-font;
}

.navigation-list-item {
  font-size: 2rem;
}

.navigation-list-item__link {
  color: $blue-dark;

  &:hover {
    text-decoration: underline;
  }
}

.main-navbar,
.main-navbar-list {
  height: inherit;
}
