.main-footer {
  background-color: $gray-normal;
  height: 9.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-footer__lbl {
  font-size: 1.5rem;
}

.main-footer__link {
  &:hover {
    text-decoration: underline;
  }
}

.main-footer__lbl,
.main-footer__link {
  color: $white-normal;
}
