/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

select {
  appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
  font-family: "Roboto", sans-serif;
}

.main-content {
  overflow: hidden;
}

.contact-us-container {
  height: 100vh;
  background-color: #aca9d9;
  display: flex;
}

@media (max-width: 1199px) {
  .contact-us-container {
    flex-direction: column;
    height: auto;
    gap: 10rem;
  }
}
.contact-us-section {
  flex: 1;
  color: #ffffff;
  display: inherit;
  flex-direction: column;
  padding-right: 8rem;
}

.contact-us-section__title {
  font-weight: 700;
  font-size: 6rem;
  margin-bottom: 2.5rem;
}

.contact-us-section__parag {
  font-size: 2rem;
  line-height: 2;
  font-weight: 300;
}

.contact-us-section__parag--modified {
  margin-bottom: 2.5rem;
}

.list-of-social-networks {
  display: inherit;
  width: 28.4rem;
  justify-content: space-between;
  margin-top: 4rem;
  align-items: center;
}

.social-network-list-item__link {
  color: #ffffff;
}

.social-network-list-item__icon {
  font-size: 4rem;
  transition: all 0.3s;
}
.social-network-list-item__icon:hover {
  color: #d8d8d8;
}

.contact-us-section__title,
.contact-us-section__parag--modified {
  font-weight: 700;
}

@media (max-width: 1199px) {
  .contact-us-section {
    padding-right: 0;
  }
}
@media (max-width: 584px) {
  .contact-us-section__title {
    font-size: 4rem;
  }
  .contact-us-section__parag {
    font-size: 1.5rem;
  }
  .social-network-list-item__icon {
    font-size: 3.5rem;
  }
}
@media (max-width: 408px) {
  .list-of-social-networks {
    width: 100%;
  }
}
.form {
  flex: 1;
  display: inherit;
  flex-direction: column;
  gap: 1.5rem;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group__lbl {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
}

.input-group__input {
  height: 4.8rem;
  padding-left: 1.5rem;
}

.input-group__input::placeholder,
.input-group__select {
  color: rgb(222, 222, 224);
  font-size: 1.6rem;
}

.input-group__textarea {
  margin-top: 1.5rem;
  height: 10rem;
  resize: none;
  font-size: 1.6rem;
}

.form__button {
  height: 4.6rem;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  transition: all 0.3s;
  margin-top: 1.5rem;
}
.form__button:hover {
  background-color: #d8d8d8;
}

.input-group__input,
.input-group__textarea {
  outline: none;
  background-color: transparent;
  border: none;
  color: #ffffff;
  border-bottom: 0.2rem solid #ffffff;
}

.input-group__input::selection,
.input-group__textarea::selection {
  background-color: #d8d8d8;
  color: #000;
}

.input-group__select option {
  background-color: #9a9a9a;
  border: none;
}

.input-field {
  display: flex;
  flex-direction: column;
}

.error-message {
  color: red;
  margin-top: 0.5rem;
  font-weight: 300;
  font-size: 1.3rem;
  height: 2.6rem;
}

.banner-section {
  background-color: #8d89c9;
  height: 30rem;
  position: relative;
}

.banner-container {
  position: absolute;
  width: 100%;
  bottom: -4px;
  left: 0px;
}

.banner-container::before {
  content: "";
  height: 34.2rem;
  display: block;
  background: url("../../img/foguete.png") no-repeat;
  background-size: contain;
  background-position: bottom;
}

.main-footer {
  height: 9.8rem;
  background-color: #333333;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 2rem;
}

.main-footer__link:hover {
  text-decoration: underline;
}

.main-footer,
.main-footer__link {
  color: #ffffff;
}

.container {
  padding: 6rem 20rem;
}

@media (max-width: 1199px) {
  .container {
    padding: 6rem 6rem;
  }
}

/*# sourceMappingURL=main.css.map */
